
# adding the gitignore file


.venv
*.pyc


# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# no db folder
db/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

